## Codeit 프로그래밍 기초 in Python

추상화 (Abstraction)
- 변수 : 값을 저장, 데이터를 어떤 공간에 담아 이름표 붙여주는 것
- 함수 : 명령을 저장
- 객체

파라미터 : 함수에 넘겨주는 값

### 토픽 2 ) 프로그래밍 핵심 개념 in python

#### < 자료형 >

In [3]:
print(4 + 7) # 덧셈
print(2 - 4) # 뺄셈

print(4.0 + 7.0) # 덧셈
print(2.0 - 4.0) # 뺄셈

print(5 * 3) # 곱셈
print(7 % 3) # 나머지
print(2 ** 3) # 거듭제곱

print(7 / 2) # 나누기
print(7.0 / 2) # 나누기
print(7 / 3) # 나누기

11
-2
11.0
-2.0
15
1
8
3.5
3.5
2.3333333333333335

In [1]:
print(7 % 3) # 1 , 나머지가 출력

print(8 // 3) # 2 , 몫이 출력
print(8.0 // 3) # 2.0, 몫이 출력

print(round(3.141592)) # 3, 반올림
print(round(3.141592, 2)) # 3, '소수점 둘째자리로 반올림'

1
2
2.0
3
3.14

나눗셈은 정수형으로 해도 매번 소수형으로 나온다. ( / )

round : 반올림

In [2]:
print("I\'m \"excited\" to learn python'")

I'm "excited" to learn python'

" " 안에 " 또 있고 뭐 이런 식이라면, 내부 " 이런거 앞에 역슬래시(\\) 붙여준다

In [6]:
# 형변환

print(int(3.8)) # 3 출력
print(float(3)) # 3.0 출력
print(int("2") + int("5")) # 7 출력
print(str(2) + str(5)) # 25 출력

age = 24
print("제 나이는 " + str(age) + "살 입니다")


print( 2 ** 3.0) # 8.0

3
3.0
7
25
제 나이는 24살 입니다
8.0

문자열을 포맷팅하는 다양한 방식

In [2]:
# 오늘은 2019년 10월 29일 입니다.

year = 2019
month = 10
day = 29

print("오늘은 " + str(year) + "년 " + str(month) + "월 " + str(day) + "일입니다")

print("오늘은 {}년 {}월 {}일입니다.".format(year, month, day))

오늘은 2019년 10월 29일입니다
오늘은 2019년 10월 29일입니다.

In [3]:
date_string = "오늘은 {}년 {}월 {}일입니다."
print(date_string.format(year, month, day))

오늘은 2019년 10월 29일입니다.

In [5]:
print("저는 {}, {}, {}를 좋아합니다!".format("박지성", "유재석", "빌게이츠"))

print("저는 {1}, {0}, {2}를 좋아합니다!".format("박지성", "유재석", "빌게이츠"))

저는 박지성, 유재석, 빌게이츠를 좋아합니다!
저는 유재석, 박지성, 빌게이츠를 좋아합니다!

In [4]:
num_1 = 1
num_2 = 3

print("{0} 나누기 {1}은 {2}입니다".format(num_1, num_2, num_1 / num_2 ))

print("{0} 나누기 {1}은 {2:.2f}입니다".format(num_1, num_2, num_1 / num_2 ))

# f는 소수형 의미, .2는 소수점 둘째자리 반올림 의미

1 나누기 3은 0.3333333333333333입니다
1 나누기 3은 0.33입니다

가장 오래된 방식 (% 기호)

이제는 잘 쓰지 않는, 옛날 방식입니다. %s, %d와 같은 '포맷 스트링'이라는 것을 사용하는데요. C나 자바 등 많은 언어들에서 이와 유사한 방식으로 문자열 포맷팅을 합니다.

In [9]:
name = "최지웅"
age = 32

print("제 이름은 %s이고 %d살입니다." % (name, age))

제 이름은 최지웅이고 32살입니다.

현재 가장 많이 쓰는 방식 (format 메소드)

In [10]:
name = "최지웅"
age = 32

print("제 이름은 {}이고 {}살입니다.".format(name, age))

제 이름은 최지웅이고 32살입니다.

새로운 방식 (f-string)

파이썬 버전 3.6부터 새롭게 나온 방식입니다.
아직 완전히 대중화되지는 않았지만 좋은 평을 받고 있기 때문에,
곧 f-string을 더 많이 사용하는 추세로 갈 수 있습니다.

In [11]:
name = "최지웅"
age = 32

print(f"제 이름은 {name}이고 {age}살입니다.")

제 이름은 최지웅이고 32살입니다.

불린 (Boolean)

In [18]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)
print(" ")
print(True or True)
print(True or False)
print(False or True)
print(False or False)
print(" ")
print(not True)
print(not False)
print(" ")
print(2 > 1)
print(2 < 1)
print(3 >= 2)
print(3 <= 3)
print(2 == 2)
print(2 != 2)

True
False
False
False

True
True
True
False

False
True

True
False
True
True
True
False

In [21]:
print( 2 > 1 and "Hello" == "Hello")
print(" ")
print(not not True)
print(not not False)

True

True
False

In [26]:
print(type(3)) # int
print(type(3.0)) # float
print(type("3")) # str
print(type("True")) # str
print(type(True)) # bool

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'bool'>

In [28]:
def hello():
    print("Hello world!")
    
print(type(hello))
print(type(print)) # 파이썬에 기본적으로 내장되어있는 함수

<class 'function'>
<class 'builtin_function_or_method'>

### 토픽 2 ) 프로그래밍 핵심 개념 in python

#### < 추상화 >

##### = : 등호, 오른쪽 값을 왼쪽 변수에 지정해주는 것
##### return : 함수가 값을 돌려주는 것 / 함수를 즉시 종료시키는 것

In [1]:
def square(x):
    return x * x # 9를 리턴

print(square(3)) # square(3) 이 9가 되는거임

9

In [4]:
def square(x):
    print("함수 시작")
    return x * x
    print("함수 끝") # 리턴이 함수 종료시켜서 이건 출력이 안 됨, Dead Code (의미x코드)

print(square(3))
print("Hello World!")

함수 시작
9
Hello World!

In [9]:
def print_square(x):
    print(x * x)
    
def get_square(x):
    return x * x

print(print_square(3)) # 리턴값이 없어서 none 출력

9
None

파라미터에게 '기본값(default value)'을 설정할 수 있는데요. 기본값을 설정해 두면, 함수를 호출할 때 꼭 파라미터에 값을 안 넘겨 줘도 됩니다. 이런 파라미터를 '옵셔널 파라미터(optional parameter)'라고 합니다. 필수로 넘겨 줄 필요가 없으니까 '옵셔널'이라고 하는 거죠.

아래 코드를 보세요.

myself 함수를 호출할 때 한 번은 파라미터 nationality에 들어갈 값을 제공했고, 한 번은 제공하지 않았습니다. 각각 어떻게 출력되는지 살펴보세요.

In [1]:
def myself(name, age, nationality="한국"):
    print("내 이름은 {}".format(name))
    print("나이는 {}살".format(age))
    print("국적은 {}".format(nationality))


myself("코드잇", 1, "미국")  # 옵셔널 파라미터를 제공하는 경우
print()
myself("코드잇", 1)  # 옵셔널 파라미터를 제공하지 않는 경우

내 이름은 코드잇
나이는 1살
국적은 미국

내 이름은 코드잇
나이는 1살
국적은 한국

옵셔널 파라미터는 꼭 마지막에.

참고로 옵셔널 파라미터는 모두 마지막에 있어야 합니다.

아래처럼 옵셔널 파라미터를 중간에 넣으면 오류가 나옵니다!

In [1]:
def myself(name, nationality="한국", age):
    print("내 이름은 {}".format(name))
    print("나이는 {}살".format(age))
    print("국적은 {}".format(nationality))


myself("코드잇", 1)  # 기본값이 설정된 파라미터를 바꾸지 않을 때
print()
myself("코드잇", "미국", 1)  # 기본값이 설정된 파라미터를 바꾸었을 때

SyntaxError: non-default argument follows default argument (<ipython-input-1-b5ab9b8a6079>, line 1)

자주 쓰이는 표현을 더 간략하게 쓸 수 있게 해주는 문법을 'syntactic sugar'라고 합니다.

In [ ]:
# 다음 두 줄은 같습니다
x = x + 1
x += 1

# 다음 두 줄은 같습니다
x = x + 2
x += 2

# 다음 두 줄은 같습니다
x = x * 2
x *= 2

# 다음 두 줄은 같습니다
x = x - 3
x -= 3

# 다음 두 줄은 같습니다
x = x / 2
x /= 2

# 다음 두 줄은 같습니다
x = x % 7
x %= 7

In [6]:
# scope (범위)

def my_function():
    x = 3
    print(x)
    
my_function()

3

In [8]:
# 이건 오류가 난다!

def my_function():
    x = 3  # 로컬변수라, 이 함수 내에서만 쓸 수 있기 때문이다
    print(x)
    
my_function()
print(x) # 이거 땜에 오류

3

NameError: name 'x' is not defined

In [9]:
x = 2 # 글로벌 변수 : 모든 곳에서 사용 가능

def my_function():
    print(x)
    
my_function()
print(x)

2
2

In [10]:
x = 2 # 글로벌 변수 : 모든 곳에서 사용 가능

def my_function():
    x = 3 # 로컬 변수
    print(x)
    
my_function()
print(x)

3
2

파라미터도 로컬 변수이다.

scope는 변수가 사용 가능한 범위를 말하는데,

로컬 변수는 변수를 정의한 함수 내에서만 사용 가능하고
글로벌 변수는 모든 곳에서 사용 가능하다.

함수에서 변수를 사용하면, 로컬 변수를 먼저 찾고나서 글로벌 변수를 찾는다.

In [11]:
# 상수 (Constant), 모든 글자를 대문자로 해야함
# 이를 통해, 일반변수와 상수를 쉽게 구분할 수 있다. 또한 어떤 일이 있어도 수정하지 않겠다는 의지를 보여준다.
# 강제는 아니지만,, 지켜야 하는 약속 같은 것..

PI = 3.14 # 원주율 파이, 처음에 정의되고 한 번도 바뀌지 않는다. 이게 상수

# 반지름을 받아서 원의 넓이 계산
def calculate_area(r):
    return PI*r*r

radius = 4 # 반지름
print("반지름이 {}면, 넓이는 {}".format(radius, calculate_area(radius)))

radius = 6 # 반지름
print("반지름이 {}면, 넓이는 {}".format(radius, calculate_area(radius)))

radius = 7 # 반지름
print("반지름이 {}면, 넓이는 {}".format(radius, calculate_area(radius)))

반지름이 4면, 넓이는 50.24
반지름이 6면, 넓이는 113.03999999999999
반지름이 7면, 넓이는 153.86

In [12]:
# 실습과제 , 일단 내 풀이 먼저

# 어떤 수가 짝수인지 홀수인지 판단해 주는 함수 is_evenly_divisible를 쓰세요.
# is_evenly_divisible는 number(수)를 파라미터로 받습니다.
# 짝수인 경우, 즉 number가 2로 나누어 떨어질 경우에는 True를 리턴해 줍니다.
# 홀수인 경우, 즉 number가 2로 나누어 떨어지지 않을 경우에는 False를 리턴해 줍니다.
# 함수 안에는 print문이 아닌, return문을 사용해야 합니다.
# 그리고 참고로 불린 개념을 잘 사용하면, 함수 단 한 줄로 작성할 수 있습니다!

def is_evenly_divisible(number):
    # 코드를 작성하세요
    if number % 2 == 0 :
        return True
    else :
        return False

# 테스트
print(is_evenly_divisible(3))
print(is_evenly_divisible(7))
print(is_evenly_divisible(8))
print(is_evenly_divisible(218))
print(is_evenly_divisible(317))

False
False
True
True
False

In [13]:
# 모범답안

def is_evenly_divisible(number):
    return number % 2 == 0


# 테스트 코드    
print(is_evenly_divisible(3))
print(is_evenly_divisible(7))
print(is_evenly_divisible(8))
print(is_evenly_divisible(218))
print(is_evenly_divisible(317))

False
False
True
True
False

In [31]:
# 거스름돈 계산기 문제

# 현명하게 거스름돈을 계산해 주는 프로그램을 만들려고 합니다.
# 예를 들어 33,000원짜리 물건을 사기 위해 100,000원을 냈다면,
# 50,000원 1장, 10,000원 1장, 5,000원 1장, 1,000원 2장
# 이런 식으로 '가장 적은 수'의 지폐를 거슬러 주는 것입니다. 방금 같은 경우에는 총 5장을 거슬러 준 거죠.

# 우리는 calculate_change라는 함수를 작성하려고 하는데요.
# 이 함수는 지불한 금액을 나타내는 payment와 물건의 가격을 나타내는 cost를 파라미터로 받습니다.

# 아래의 코드에 이어서 깔끔하게 프로그램을 작성해 보세요.

def calculate_change(payment, cost):
    change = payment - cost
    
    oman = change // 50000
    print("50000원 지폐: {}장".format(oman))
    
    change = change % 50000
    
    man = change // 10000
    print("10000원 지폐: {}장".format(man))
    
    change = change % 10000
    
    ocheon = change // 5000
    print("5000원 지폐: {}장".format(ocheon))
    
    change = change % 5000
    
    cheon = change // 1000
    print("1000원 지폐: {}장".format(cheon))
    
calculate_change(100000, 33000)
print()
calculate_change(500000, 378000)

50000원 지폐: 1장
10000원 지폐: 1장
5000원 지폐: 1장
1000원 지폐: 2장

50000원 지폐: 2장
10000원 지폐: 2장
5000원 지폐: 0장
1000원 지폐: 2장

In [32]:
# 모범답안

def calculate_change(payment, cost):
    change = payment - cost  # 거스름돈 총액

    fifty_count = change // 50000  # 50,000원 지폐
    ten_count = (change % 50000) // 10000  # 10,000원 지폐
    five_count = (change % 10000) // 5000  # 5,000원 지폐
    one_count = (change % 5000) // 1000  # 1,000원 지폐

    # 답 출력
    print("50000원 지폐: {}장".format(fifty_count))
    print("10000원 지폐: {}장".format(ten_count))
    print("5000원 지폐: {}장".format(five_count))
    print("1000원 지폐: {}장".format(one_count))


# 테스트
calculate_change(100000, 33000)
print()
calculate_change(500000, 378000)

50000원 지폐: 1장
10000원 지폐: 1장
5000원 지폐: 1장
1000원 지폐: 2장

50000원 지폐: 2장
10000원 지폐: 2장
5000원 지폐: 0장
1000원 지폐: 2장

#### 토픽 2 ) 프로그래밍 핵심 개념 in python

#### < 제어문 >

In [33]:
# While문

i = 1
while i <= 3:
    print("나는 잘생겼다!")
    i += 1

나는 잘생겼다!
나는 잘생겼다!
나는 잘생겼다!

In [34]:
# While 반복문을 활용하여 1 이상 100 이하의 짝수 모두 출력하기

i = 1

while i <= 50 :
    print(i * 2)
    i += 1

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [ ]:
# while문을 사용하여, 100 이상의 자연수 중 가장 작은 23의 배수를 출력해 보세요.

i = 100

# 코드를 입력하세요.

while i % 23 != 0 :
    i += 1
    
print(i)

In [35]:
# if문

temperature = 16

if temperature <= 10 :
    print("자켓을 입는다.")
else:
    print("자켓을 입지 않는다.")

자켓을 입지 않는다.

In [36]:
# 학생들에게 최종 성적을 알려 주는 '학점 계산기'를 만들려고 합니다.

# 이 수업에는 50점 만점의 중간고사와 50점 만점의 기말고사가 있는데요.
# 두 시험의 점수를 합해서 최종 성적을 내는 방식입니다. 규칙은 다음과 같습니다.

# A: 90점 이상
# B: 80점 이상 90점 미만
# C: 70점 이상 80점 미만
# D: 60점 이상 70점 미만
# F: 60점 미만
# print_grade 함수는 파라미터로 중간고사 점수 midterm_score와
# 기말고사 점수 final_score를 받고,최종 성적을 출력합니다.

def print_grade(midterm_score, final_score):
    total = midterm_score + final_score
    # 코드를 쓰세요.
    if total >= 90 :
        print("A")
    elif total >= 80 :
        print("B")
    elif total >= 70 :
        print("C")
    elif total >= 60 :
        print("D")
    else :
        print("F")
        

# 테스트
print_grade(40, 45)
print_grade(20, 35)
print_grade(30, 32)
print_grade(50, 45)

B
F
D
A

In [37]:
# while문과 if문을 활용하여, 100 이하의 자연수 중 8의 배수이지만 12의 배수는 아닌 것을 모두 출력하세요.

# 예를 들어서 16은 8의 배수이지만 12의 배수가 아니니까 조건에 부합합니다.
# 하지만 48은 8의 배수이면서 12의 배수이기도 해서 조건에 부합하지 않습니다.
# 실행하면 콘솔에 아래와 같이 출력되어야 합니다.

i = 1

while i <= 100 :
    
    if i % 8 == 0 and i % 12 != 0 :
        print(i)
    
    i += 1

8
16
32
40
56
64
80
88

In [38]:
# 10보다 작은 2 또는 3의 배수는 2, 3, 4, 6, 8, 9이며, 이들의 합은 32입니다.

# while문과 if문을 활용하여, 1,000보다 작은 자연수 중 2 또는 3의 배수의 합을 출력하는 프로그램을 써 보세요.

i = 1
total = 0

while i < 1000 :
    
    if i % 2 == 0 or i % 3 == 0 :
        total += i
    
    i += 1

print(total)

333167

In [39]:
# 정수 n의 약수는 n을 나누었을 때 나누어 떨어지는 수입니다.
# 만약 정수 i가 정수 n의 약수라면, n을 i로 나누었을 때 나머지가 0이 나와야 하는 거죠.
# 정수 120의 약수를 모두 출력하고, 총 몇개의 약수가 있는지 출력하는 프로그램을 써 보세요.
# 아래처럼 콘솔에 출력되어야 합니다.

n = 120
i = 1
count = 0

while n >= i :

    if n % i == 0 :
        print(i)
        count += 1
    i += 1
    
# print(f"{n}의 약수는 총 {count}개 입니다.")
print("{}의 약수는 총 {}개 입니다.".format(n,count))

1
2
3
4
5
6
8
10
12
15
20
24
30
40
60
120
120의 약수는 총 16개 입니다.

In [1]:
'''1988년 쌍문동에 사는 택이는 바둑 대회 우승 상금으로 5,000만원을 받았습니다. 하지만 바둑 외에는 아는 게 없으니, 이웃 어른들에게 이 돈으로 무엇을 해야 할지 물어보기로 하였습니다.

은행에서 근무하는 동일 아저씨는 은행에 돈을 맡겨서 매년 이자로 12%씩 받는 것을 추천하셨습니다. 1년 후인 1989년에는 5,000만원의 12% 이자인 600만원이 더해져 5,600만원이 된다고 하면서요.

이 이야기를 들은 미란 아주머니는 고작 12% 때문에 생돈을 은행에 넣느냐며, 얼마 전 지어진 은마아파트를 사라고 추천하셨습니다. 당시 은마아파트의 매매가는 5,000만원이었죠.

2016년 기준 은마아파트의 매매가는 11억원인데요. 1988년 은행에 5,000만원을 넣었을 경우 2016년에는 얼마가 있을지 계산하여, 동일 아저씨와 미란 아주머니 중 누구의 말을 듣는 것이 좋았을지 판단해 보세요. 2016년 은행에 얼마가 있을지는 꼭 while문을 사용해서 계산해 주세요!

2016년에 은행에 저축해 둔 금액이 더 크면, *원 차이로 동일 아저씨 말씀이 맞습니다.가 출력되도록 하세요. 반대로 은마아파트의 가격이 더 크면, *원 차이로 미란 아주머니 말씀이 맞습니다.가 출력되도록 하세요. 여기서는 꼭 if문을 사용해 주세요!'''

money = 50000000
year = 1988
INTEREST_RATE = 0.12
APARTMENT_PRICE_2016 = 1100000000

while year < 2016 :
    money = money + ( money * INTEREST_RATE )
    year += 1
    

if money > APARTMENT_PRICE_2016 :
    print("{}원 차이로 동일 아저씨 말씀이 맞습니다.".format(int(money-APARTMENT_PRICE_2016)))
    
else : 
    print("{}원 차이로 미란 아주머니 말씀이 맞습니다.".format(int(APARTMENT_PRICE_2016 - money)))

94193324원 차이로 동일 아저씨 말씀이 맞습니다.

In [3]:
a = 1
b = 1
n = 1

print(a)
print(b)

while n <= 24 :
    a = a+b
    print(a)
    b = a+b
    print(b)
    
    n+=1

1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946
17711
28657
46368
75025
121393
196418
317811
514229
832040
1346269
2178309
3524578
5702887
9227465
14930352
24157817
39088169
63245986
102334155
165580141
267914296
433494437
701408733
1134903170
1836311903
2971215073
4807526976
7778742049
12586269025

In [6]:
n = 1
i = 1

while n < 10 :
    while i < 10 :
        print("{} * {} = {}".format(n,i,n*i))
        i += 1
    n += 1

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9

In [16]:
n = 1
i = 1

while n < 10 :
    while i < 10 :
        print("{} * {} = {}".format(n,i,n*i))
        i += 1
    n += 1
    i = 1 # 와 이거 안해서 삽질 ㅋㅋㅋㅋㅋㅋㅋ

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
2 * 0 = 0
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 0 = 0
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 0 = 0
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 0 = 0
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 0 = 0
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 0 = 0
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 0 = 0
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 0 = 0
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [17]:
# break문

i = 100

while True:
    # i가 23의 배수면 반복문을 끝냄
    if i % 23 == 0:
        break
    i = i + 1

print(i)

115

In [18]:
# continue문

i = 0

while i < 15:
    i = i + 1

    # i가 홀수면 print(i) 안 하고 바로 조건 부분으로 돌아감
    if i % 2 == 1:
        continue
    print(i)

2
4
6
8
10
12
14

In [1]:
# 리스트 (list)

numbers = [2, 3, 5, 7, 11, 13]
names = ["유림", "수민", "아정"]

print(numbers)
print(names)

[2, 3, 5, 7, 11, 13]
['유림', '수민', '아정']

In [3]:
# 인덱싱 (indexing)

print(names[1])

print(numbers[1] + numbers[3])

수민
10

In [4]:
num_1 = numbers[1]
num_3 = numbers[3]

print(num_1 + num_3)

10

In [5]:
print(numbers[-1])
print(numbers[-6])

13
2

In [9]:
# 리스트 슬라이싱 (list slicing)

print(numbers[0:4]) # 0부터 3까지니 헷갈리지 말기

print(numbers[2:])

print(numbers[:3])

[2, 3, 5, 7]
[5, 7, 11, 13]
[2, 3, 5]

In [11]:
new_list = numbers[:3] # [2,3,5]
print(new_list[2])

5

In [13]:
numbers = [2, 3, 5, 7, 11, 13]

numbers[0] = 7

print(numbers)

[7, 3, 5, 7, 11, 13]

In [14]:
numbers = [2, 3, 5, 7, 11, 13]

numbers[0] = numbers[0] + numbers[1]

print(numbers)

[5, 3, 5, 7, 11, 13]